/*************************/
/******* Global **********/
/*************************/


/********* TEXT **********/

body {
    font-family: 'Nunito';
    letter-spacing: 0.05em;
  }

  .imgprofil{
      border-radius: 50%;
      max-width: 60%;
  }
